* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #926239;
  line-height: 1.6;
  overflow: hidden;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: calc(50% - 50px);
}

.homepage-image {
  background-image: url(./icons/phone-chart.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 0 20px;
}

.homepage-image h1 {
  font-size: 50px;
}

.transactionInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}

.transactionInfo > * {
  margin: 4px 8px;
}

.changeTransaction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}

#transactionForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;
  width: 75%;
  max-width: 500px;
}

.form-container {
  padding: 8px;
  display: flex;
  justify-content: center;
}

/* body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overflow: visible;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  background-color:#2a9d8f;
  color: #FFFFFF;
  text-align: center;
  line-height: 3rem;
  font-weight: 700;
}

.container-photo {
  width: 100vw;
  height: 100vw;
  background-color: #2f3542;
  margin-bottom: 3rem;
}

.photo {
  width: 100vw;
  height: 100vw;
  object-fit: cover;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 7rem;
  text-align: center;
}

.icon {
  box-shadow: 0 20px 40px 0 rgba(91, 107, 174, 0.15);
  background-color: #FF4514;
  color: #FFFFFF;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  margin-top: 0.3rem;
}

.icon::before {
  font-size: 2rem;
}

.inputget {
  font-size: 1px;
  position: absolute;
  z-index: -1;
}



.loginBody {
  background-color: #64b6ac;
}

.loginbox {
    color: #fff;
    padding: 110px 50px;
} 


h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px ;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 90%;
    margin-bottom: 20px;
}


.loginbox input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px
}

.loginbox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #302A4F;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background:  #DEDBEC;
  color: #002F5D;
}

.loginbox a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

.loginbox a:hover {
    color: #002F5D;

}



.form-hidden {
display: none
}


/* navbar */

/* .navbar {
overflow: hidden;
background-color: #cdeac0;
position: fixed;
bottom: 0;
width: 100%;
height: 11.1%;
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 18px;
text-decoration: none;
font-size: 15px;
}

.navbar a:hover {
background: #f1f1f1;
color: black;
}

.navbar a.active {
background-color: #4CAF50;
color: #ffffff;


}

.main {
padding: 10px;
margin-bottom: 20px;
}
 */
