* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Impact, fantasy;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: calc(50% - 50px);
}

.homepage-image h1 {
  font-size: 50px;
}

.transactionInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}

.transactionInfo > * {
  margin: 4px 4px;
}

.transactionInfo > h3 {
  font-size: 14px;
}

.changeTransaction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}

#transactionForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;
  width: 75%;
  max-width: 500px;
}

.form-container {
  padding: 8px;
  display: flex;
  justify-content: center;
}

#categories {
  margin: 0;
}

#selectCategory {
  width: 100%;
}

.category-container {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.category-icon {
  margin-right: 10px;
}

.category-edit-button {
  margin-left: auto;
}

.category-add {
  margin-top: 32px;
}
